html {
    box-sizing: border-box;
        font-size: 16px;
    }
    
    *, *:before, *:after {
        box-sizing: inherit;
    }
    
    body, h1, h2, h3, h4, h5, h6, p, ol, ul {
        margin: 0;
        padding: 0;
        font-weight: normal;
    }
    
    ol, ul {
        list-style: none;
    }
    
    img {
        max-width: 100%;
        height: auto;
    }
    
    body {
        font-family: 'Space Grotesk', sans-serif;
        font-family: 'Syne', sans-serif;
    }

    .header-footer-page__h {
        color:#000000;
        display: inline;
        font-style: normal;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Space Grotesk';
        width: 68px;
        height: 44px;
        padding-top: 12px;
        opacity: 0.5;
    }

    .header-footer-page__uni {
        color:#000000;
        display: inline;
        font-style: normal;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Space Grotesk';
        width: 103px;
        height: 44px;
        padding-top: 12px;
        opacity: 0.5;
    }

    .header-footer-page__c {
        color:#000000;
        display: inline;
        font-style: normal;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Space Grotesk';
        width: 87px;
        height: 44px;
        padding-top: 12px;
        opacity: 0.5;
    }

    .header-footer-page__use {
        color:#000000;
        display: inline;
        font-style: normal;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Space Grotesk';
        width: 102px;
        height: 44px;
        padding-top: 12px;
        opacity: 0.5;
    }

    .header-footer-page__p {
        color:#000000;
        display: inline;
        font-style: normal;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Space Grotesk';
        width: 92px;
        height: 44px;
        padding-top: 12px;
        opacity: 0.5;
    }

    .header-footer-page__r {
        color:#000000;
        display: inline;
        font-style: normal;
        text-decoration: none;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        font-family: 'Space Grotesk';
        width: 105px;
        height: 44px;
        padding-top: 12px;
        opacity: 0.5;
    }

    header {
        display: flex;
        width: 1440px;
        height: 76px; 
        background: #ffffffff;
        border-bottom: 1px solid #F8E0FB;       
    }

    .leftside-header {
        display: flex;
        width: 274px;
        height: 44px;
        gap: 8px;
        margin-left: 70px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .rightside-heder {
        display: flex;
        width: 315px;
        height: 44px;
        gap: 8px;
        margin-left: 260px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .header__logo{
        margin-left: 300px;
        height: 40px;
        width: 151px;
        margin-top: 18px;
    }

    main{
        
        display: flex;
        width: 1440px;
        height: 594px;
        background-image:
        url("../nftlanding/images/header and title/Background shape ul.png"),url("../nftlanding/images/header and title/Background shape bl.png"),url("../nftlanding/images/header and title/Background shape ur.png"),url("../nftlanding/images/header and title/Background shape br.png");
        background-repeat: no-repeat;
        background-position: 53px 5px, -16px 298px, 1162px 67px, 1196px 387px;
        
    }

    .main-text {
        display: flex;
        flex-direction: column;
        width: 856px;
        height: 356px;
        padding-top: 80px;
        padding-left: 292px;
        gap: 32px;        
    } 

    .main__title {
        padding-top: 60px;
        padding-right: 48px;
        width: 856px;
        height: 192px;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 96px;
        text-align: center;
        color: #000000;
        text-shadow: -5px 5px 0px #FFFFFF;        
       
    }
    .main__subtitle{
        padding-top: 32px;
        padding-left: 48px;
        padding-bottom: 84px;
        width: 800px;
        height: 48px;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        
        color: #532C59;
        
    }

    .alllogo{
        width: 1440px;
        height: 120px;
    }

    .logos {
        margin-left: 70px;
        padding-top: 58px;
    }

    .nft-collection {
        width: 1440px;
        height: 2075px;
    }

    .nft-collection__title {
        width: 1300px;
        height: 64px;
        margin-top: 80px;
        margin-left: 70px;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        text-align: center;
        color: #000000;
    }

    .nft-collection__subtitle {
        width: 820px;
        height: 48px;
        padding-top: 16px;
        margin-left: 310px;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        color: #532C59;
    }

    .nft-container {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    .nft-line {        
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        width: 1300px;
        height: 548px;
        margin-left: 70px;
        padding-top: 64px;
    }

    .nft-line2 {               
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 32px;
        width: 1300px;
        height: 548px;
        margin-left: 70px;
        padding-top: 64px;
    }
    .nft-item__img{
        height: 396px;
        width: 412px;
        padding-right: 0px;        
    }
    
    .nft-item {
        display: flex;
        flex-direction: column;
    }

    .nft-item__title {
        padding-top: 16px;
        display: block;
        width: 412px;
        height: 42px;
        font-family: 'Syne';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 42px;
        text-align: center;
        color: #000000;
    }

    .nft-item__subtitle {
        padding-top: 12px;
        display: block;
        width: 412px;
        height: 40px;
        font-family: 'Space Grotesk';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #532C59;
    }